<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>View Transactions</title>
  </head>
  <body>
  <div class="container">
      <table id="table"
      data-toggle="table"
             data-toolbar="#toolbar">
      <thead>
          <tr>
              <th data-width=20 data-field="transaction_id">Transaction ID</th>
              <th data-width=20 data-field="timestamp">Timestamp</th>
              <th data-width=20 data-field="amount">Amount</th>
              <th data-width=20 data-field="sender_address">Sender Address</th>
              <th data-width=20 data-field="recipient_address">Recipient Address</th>
          </tr>
      </thead>
  </table>
  </div>
  </body>
</html>
