<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Blockchain Client</title>
  </head>
  <body>
    <h2>Welcome to the NoobCash BlockChain Network!</h2>

    <h5>By using this service you can either:</h5>

    <ul>
      <li><a onclick="get_html('/new_transaction')" style="cursor: pointer; text-decoration: underline;"><strong>Make a transcation</strong></a> and send some NBC (NoobCash Coins) to other users of the blockchain network!</li>
      <li><a onclick="get_html('/view_transactions')" style="cursor: pointer; text-decoration: underline;"><strong>View all your transaction history.</strong></a></li>
      <li><a onclick="get_html('/view_balance')" style="cursor: pointer; text-decoration: underline;"><strong>View your Balance.</strong></a></li>
    </ul>
  </body>
</html>
