<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New Transaction</title>
  </head>
  <body>

    <form>
      <div class="form-group">
        <label for="recipient_id">Recipient ID</label>
        <input type="number" class="form-control" id="recipient_id" placeholder="Enter recipient ID">
      </div>
      <div class="form-group">
        <label for="amount">Amount</label>
        <input type="number" class="form-control" id="amount" placeholder="Enter amount">
      </div>
      <button onclick="submit_transaction()" class="btn btn-primary">Submit</button>
    </form>

  </body>
</html>
